@mixin cabecera($tema) {
    .cabecera{
        justify-content: center;
        text-align: center;
        background: map.get($tema,"colorPrimario");
        color: map.get($tema,"colorLetraBlanco");
        img {
            width: 4%;
            animation: giro 5s linear infinite;
            margin: 1%;
        }
        h2 {
            margin-right: 6%;
        }
    }

    @keyframes giro {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }

    .navbar {
        background: map.get($tema,"colorPrimario");
        color: map.get($tema,"colorLetraBlanco");
        div:nth-child(1){
           display: flex;
           align-items: center;
           margin-left: 2rem;
            img {
                margin: 1%;
                width: 4%;
                animation: giro 5s linear infinite;
                float: left;
            }
            h2 {
                margin-left: 1rem;
            }
        }
        div:nth-child(2){
            justify-content: center;
            text-align: center;
            a{
                color: map.get($tema,"colorLetraBlanco");
            }
        }
    }
    .btn-volver{
        .volver{
            background: map.get($tema,"colorSecundario");
            border-radius: 5vh;
            border: none;
            width: 12%;
            font-size: map-get($tema, "texto");
            padding: 1vh;
            color: white;
            font-weight: map.get($tema,"pesoMedium");
            margin: 3vh 4%;
            &:hover{
                background: map.get($tema,"colorPrimario");
                transition: all 0.5s;
                @include zoom();
            }
        }
    }
}